<div class=" w-screen h-screen flex flex-col items-center bg-slate-100 p-10">
    <h1 class="text-center underline">Productos</h1>
    <table mat-table [dataSource]="ProductList" class="mat-elevation-z8">
    
        <ng-container matColumnDef="name">
         <th mat-header-cell *matHeaderCellDef class="w-1/5"> Nombre </th>
         <td mat-cell *matCellDef="let product" class="w-1/5"> {{product.name}} </td>
        </ng-container>
  
    
        <ng-container matColumnDef="descripcion">
         <th mat-header-cell *matHeaderCellDef class="w-1/5"> Descripcion </th>
         <td mat-cell *matCellDef="let product" class="w-1/5"> {{product.descripcion}} </td>
        </ng-container>
  
    
        <ng-container matColumnDef="user">
         <th mat-header-cell *matHeaderCellDef class="w-1/5"> Creado por </th>
         <td mat-cell *matCellDef="let product" class="w-1/5 min-w-64"> {{product.user}}
         </td>
        </ng-container>
  
    
        <ng-container matColumnDef="precio">
         <th mat-header-cell *matHeaderCellDef class="w-1/5"> Precio </th>
         <td mat-cell *matCellDef="let product" class="w-1/5"> {{product.precio}} $ </td>
        </ng-container> 


        <ng-container matColumnDef="buttons" >
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let product" class=" min-w-32"> 
                <div class="flex justify-end">
                    <button mat-icon-button (click)="updatedUser(product.id)">
                        <mat-icon class="text-yellow-500">create</mat-icon>
                    </button>
        
           
                    <button mat-icon-button (click)="deleteProduct(product.id)">
                        <mat-icon class="text-red-600">delete</mat-icon>
                    </button>
                </div>
            </td>
           </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button class="p-3 m-3" mat-raised-button color="primary" (click)="createProduct()">Agregar producto</button>
</div>  
